<div class="row">
    <header class="bg-info text-white pl-4 pb-4 col-lg-12 d-flex align-items-center">
     
        <h1 class="display-4 title">  Your projects:</h1>
    
      <div class="rounded-circle bg-white ml-auto my-auto mr-5 cover" style="height: 150px; width: 150px;"></div>
    </header>
</div>



<div class="container">
<div class="row d-flex align-items-stretch align-content-stretch"  > 
<app-card class="col-lg-4 "></app-card>
<app-card class="col-lg-4 "></app-card>
<app-card class="col-lg-4 "></app-card>
<app-card class="col-lg-4 "></app-card>
<app-card class="col-lg-4 "></app-card>
<app-card-sahdow class="col-lg-4  flex-grow-1 " style="display: flex; " ></app-card-sahdow>
</div>
</div>
