.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
 img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .symbol{
   
    height: 16px;
    width: 16px;
    display: inline;
    margin: 0 15%;
  }

  h5{
    font-size: 15 px;
  }
