<div class="card m-5">
   <h4 class="bg-info rounded-lg-top text-white p-2 pl-4 text-left">
    MyProject
<!--     {{project.name}}
 -->   </h4>
    <h5 class="ml-4  p-2 rounded-pill" style="width: fit-content; font-size: 16px"  [ngStyle]="{'background-color': getColorOfState('Done') }">
      
       Done

    </h5>
    <div class=" pl-4">
      This is my first ever project
      <!-- {{project.description}} -->
    </div>
    <div class="text-muted text-left pl-4 pb-2">
      192.182.136
      <!-- {{project.startingDate}} -->
    </div>

    <div class="border-top border-dark text-center pb-2">

      <img class="symbol" src="../../assets/pencil.png" alt = "Modify"  >
      <img class="symbol" src="../../assets/trash.png" alt = "Delete"  >
      
    </div>
  </div>
  
