<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Project Configuration</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
                <label for="projectName">Project Name</label>
                <input type="text" id="projectName" class="form-control" name="projectName" [(ngModel)]="projectName"  required>
              </div>
              <div class="mb-3">
                <label for="projectDescription">Project Description</label>
                <textarea id="projectDescription" class="form-control" name="projectDescription" [(ngModel)]="projectDescription"  required></textarea>
              </div>
              <div class="mb-3">
                <label for="projectState"> Project state </label>
                <select id="projectState"  class="form-control" name="projectState" [(ngModel)]="projectState"  required>
                  <option value="Done" selected >Done</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Suspended">Suspended</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" class="form-control" name="startDate" [(ngModel)]="startDate" required>
              </div>
              <button type="submit" class="btn btn-primary" (click)="submit()">{{state.toString()}} Project</button>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">close</button>
	</div>
</ng-template>





