.symbol-container {
    height: 100%; 
    width: 100%;
    display: grid ; 
    place-items: center;

  
}

.card {
    cursor: pointer; 
    border-style: dashed; 
    border-color: #000000; 
    width: 100%;
}